body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293241;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-sizing: border-box;

  padding: 40px;
  background-image: linear-gradient(to bottom right, #5744ed, #8acdfa);
  color: #fff;
  gap: 20px;
}

#display-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

#temp {
  font-size: 4rem;
}

#city-name {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
}

#weather-form button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
}

#description {
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  padding: 0;
}
